@tailwind base;
@tailwind components;
@tailwind utilities;



.bar ::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .bar {
    scrollbar-width: none;
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  